@(message: String,user:models.User)
@template("Eventos", user,"cal-admin-icon"){
	<div class="row">
		 <div class="col-md-5">
			  <div class="form-group">
			    <label for="instructor" >Nombre del instructor</label>
			    <select class="form-control" id="instructor">
		            <option value="SEAT" >Instructor 1</option>
		            <option value="AUDI" >Instructor 2</option>
		            <option value="VOLKSWAGEN" >Instructor 3</option>
		        </select>
			  </div>
		  </div>
		  <div class="col-md-5 col-md-offset-1">
			  <div class="form-group"> 
			    <label for="iadicional" >Instructores adicionales</label>
			    <select multiple class="form-control" id="iadicional">
		            <option value="SEAT" >Instructor 1</option>
		            <option value="AUDI" >Instructor 2</option>
		            <option value="VOLKSWAGEN" >Instructor 3</option>
		        </select>
			  </div>
		  </div>
	</div>
	
	<div class="row">
		 <div class="col-md-4">
			  <div class="form-group">
			    <label for="nclase" >Numero de clase</label>
			    <p class="form-control-static" id="nclase">VWA-20140023</p>
			  </div>
		  </div>
	</div>
	<div class="row">
		 <div class="col-md-4">
			  <div class="form-group">
			    <label for="nparticipantes" >Numero de Participantes</label>
			    <input type="text" class="form-control" id="nparticipantes" placeholder="Numero de Participantes" />
			  </div>
		  </div>
		  <div class="col-md-4">
			  <div class="form-group">
			    <label for="datetimepicker11" >Fecha inicio</label>
			    <div class="input-group">
				    <input data-format="yyyy-MM-dd" type="date" class="form-control" id="datetimepicker11" />
				    <div class="input-group-btn">
				    <button type="button" class="btn btn-default">
				    	<span class="glyphicon glyphicon-calendar"></span>
				    </button>
				    </div>
				  </div>	
			  </div>
		  </div>
		  <div class="col-md-4">
			  <div class="form-group">
			    <label for="datetimepicker22" >Fecha cierre</label>
			    <div class="input-group">
				    <input data-format="yyyy-MM-dd" type="date" class="form-control" id="datetimepicker22" />
				    <div class="input-group-btn">
				    <button type="button" class="btn btn-default">
				    	<span class="glyphicon glyphicon-calendar"></span>
				    </button>
				    </div>
				  </div>	
			  </div>
			  </div>
	</div>
	
	<div class="row">
		 <div class="col-md-4">
			  <div class="form-group">
			    <label for="sede" >Sede/ubicacion</label>
			    <select class="form-control" id="sede">
		            <option value="SEAT" >Sede 1</option>
		            <option value="AUDI" >Sede 2</option>
		            <option value="VOLKSWAGEN" >Sede 3</option>
		        </select>
			  </div>
		  </div>
		  
		  <div class="col-md-4">
			  <div class="form-group">
			    <label for="Catering" >Catering</label>
			    <div class="row">
			    <div class="col-xs-12">
			    <input type="text" class="form-control" id="Catering" placeholder="Catering" />
			    </div>
			    </div>
			  </div>
		  </div>
		  
		  <div class="col-md-4">
			  <div class="form-group">
			    <label for="estatus" >Estatus de invitacion</label>
			    <div class="row">
			    <div class="col-xs-6">
			    <select class="form-control input-sm" id="requiere">
		            <option value="Si" >Abierta</option>
		            <option value="No" >Cerrada</option>
		        </select>
		        </div>
		        </div>
			  </div>
		  </div>
	</div>
	
	<div class="row">
		 <div class="col-md-4">
			  <div class="form-group">
			    <label for="invitacion" >Semana de envio de invitacion</label>
			    <div class="row">
			    <div class="col-xs-6">
			    <input type="text" class="form-control" id="invitacion" placeholder="Invitacion" />
			    </div>
			    </div>
			  </div>
		  </div>
		  
		  <div class="col-md-4">
			  <div class="form-group">
			    <label for="nparticipante" >Numero de participantes</label>
			    <div class="row">
			    <div class="col-xs-8">
			    <input type="text" class="form-control" id="nparticipante" placeholder="Numero de participantes" />
			    </div>
			    </div>
			  </div>
		  </div>
	</div>
}
